.hero-section {
    background-color: #343a40; /* dark bg */
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hero-section h1 {
    font-size: 3rem;
    font-weight: bold;
  }
  
  .hero-section p {
    font-size: 1.5rem;
  }
  
  @media (max-width: 768px) {
    .hero-section {
      height: 60vh;
    }
  
    .hero-section h1 {
      font-size: 2rem;
    }
  
    .hero-section p {
      font-size: 1rem;
    }
  }
  